<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius, odio id mattis dapibus, nisi nisl placerat arcu, ac elementum purus libero a risus. Morbi laoreet purus quis mi aliquam, vel cursus orci ultrices. Nam consequat erat ac sapien consectetur, vel dignissim libero bibendum. Maecenas vestibulum erat quis ipsum dignissim, sed dignissim tellus bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ac magna semper, congue magna in, consequat nisl. Donec vitae ullamcorper lectus. Aenean quis nulla elit. Sed vel mi quis nisi maximus commodo. Suspendisse potenti. Mauris quis orci metus. Sed at ultricies nunc. Vivamus euismod est non est consequat auctor. In vitae tincidunt sapien.</p>

<%- include("footer") -%>